

/*
APP
*/


.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
  z-index: 1;
}
.dataTables_wrapper .table {
  border: 1px solid #e0e4e8;
  border-width: 1px 0;
}
.dataTables_wrapper .row {
  margin-left: -15px;
  margin-right: -15px;
}
.dataTables_wrapper label {
  font-weight: normal;
  font-size: 12px;
  display: block;
  margin-bottom: 0;
}
.dataTables_wrapper select,
.dataTables_wrapper input[type="text"],.dataTables_wrapper input[type="search"] {
  font-size: 12px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline;
  border: 1px solid #d8dde5;
}
.dataTables_wrapper select {
  width: 75px;
}
.dataTables_wrapper input[type="text"],.dataTables_wrapper input[type="search"]{
  width: 200px;
}
.dataTables_filter,
.dataTables_paginate {
  float: right;
}
.dataTables_length,
.dataTables_filter {
  padding: 15px;
}
.dataTables_info,
.dataTables_paginate {
  padding: 15px;
}
.dataTables_wrapper .paginate_button,
.dataTables_wrapper .paginate_active {
  cursor: pointer;
  outline: 0;
  border: 1px solid #d8dde5;
  border-right-width: 0;
  background: #fff;
  padding: 4px 8px;
}
.dataTables_wrapper .paginate_active {
  background-color: #f5f5f5;
}
.dataTables_wrapper .paginate_button_disabled {
  color: #ccc;
  background-color: #fafafa;
}
.paginate_button.first {
  border-radius: 3px 0 0 3px;
}
.paginate_button.last {
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
}
.dataTables_wrapper th {
  cursor: pointer;
  outline: 0;
}
/*
 * Sort styling
 */
table.dataTable thead th {
  position: relative;
  background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
  content: "\f0dc";
  color: #ddd;
  font-size: 0.8em;
  padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
  content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
  content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
  content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
  top: 8px;
}
#DataTables_Table_0{
  border:none;
}
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}
#DataTables_Table_0_paginate > span > span{
  cursor: pointer;
outline: 0;
border: 1px solid #D8DDE5;
border-right-width: 0;
background: #FFF;
padding: 4px 8px;
}

th, td { white-space: nowrap; }
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
td.highlight {
  background-color: #F7FAFC !important;
}
#DataTables_Table_0 > tbody > tr > td.center,
#DataTables_Table_0 > thead > tr > th.center{
  text-align: center
}

.panel .table-striped > tbody > tr:nth-child(odd):hover > td,
.panel .table-striped > tbody > tr:nth-child(even):hover > td{
  background-color: #F7FAFC !important;
};
/* Scrolling */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

#DataTables_Table_0 > thead > tr{
  height: 1px !important;
}
table.dataTable th:active {
  outline: none;
}
